
configs/Windows/Payrolls.py
configs/Windows/Paths.py
configs/Windows/config.py
configs/Windows/__init__.py
configs/Linux/Payrolls.py
configs/Linux/Paths.py
configs/Linux/config.py
configs/Linux/__pycache__/Payrolls.cpython-38.pyc
configs/Linux/__pycache__/Paths.cpython-38.pyc
configs/Accounts.py
configs/__pycache__/Sites.cpython-38.pyc
configs/__pycache__/Accounts.cpython-38.pyc
configs/Sites.py
APP.sublime-workspace
configs/Windows/__pycache__/Payrolls.cpython-38.pyc
configs/Windows/__pycache__/Paths.cpython-38.pyc
configs/Windows/__pycache__/__init__.cpython-38.pyc
configs/Linux/__pycache__/__init__.cpython-38.pyc
configs/Linux/__init__.py
configs/__pycache__/__init__.cpython-38.pyc
configs/__init__.py
Translations/__pycache__/__init__.cpython-38.pyc
Translations/__pycache__/Copy_translations.cpython-38.pyc
